.table{
    /* border:2px solid red; */
    width: 100%;
    min-height: 35vh;
    margin-top: 20px;
}
.thead{
    background-color: #fdaeae;
}
.tbodyTr{
    background-color: #989fee;
    text-align: center;
}
.btn{
    border-radius: 5px;
    width: auto;
    height: auto;
    padding: 10px 50px;
    margin: 20px;
    border: none;
    background: black;
    color: white;
}